/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';



.col-lg-8 {
  background-color: #ffffff;
  text-align: center;
  border: 3px solid;
  border-radius: 6px;
  border-color: #CCCCCC;
}
.row {
  background-image: url(http://www.bankoboev.ru/fons/OTE4Mw==/Bankoboev.Ru_seryi_ornament_na_serom_fone.png) ;
  background-repeat: repeat;
  background-attachment:fixed;

}

.description {
  border: 1px solid;
  border-color: rgb(206, 201, 204);
  width: 65%;
}
.Comment {
  border-left: 1px solid;
  border-right: 1px solid ;
  border-color: rgb(206, 201, 204);
  width: 65%;
}
.top {
  border-top: 2px ridge;
  border-bottom: 2px ridge;
  border-color: #cc0000;
}